@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "HeadingFont";
  src: url("/Fonts/I.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BodyFont";
  src: url("/Fonts/O.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "BodyFont", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "HeadingFont", serif;
}